<h2>Contact Us</h2>
<form
[formGroup]="contactForm"
(ngSubmit)="$event.preventDefault(); submitForm()"
>
    <!-- Name Input -->
    <div class="mb-4">
      <label for="name" class="form-label">Your name</label>
      <input
        type="text"
        id="name"
        name="name"
        formControlName="senderName"
        class="form-control"
        placeholder="Enter your name"
      />
      <div *ngIf="contactForm.get('senderName')?.invalid && (contactForm.get('senderName')?.dirty || contactForm.get('senderName')?.touched)">
        <small class="text-danger" *ngIf="contactForm.get('senderName')?.hasError('required')">This field is required</small>
      </div >
    </div>

    <!-- Email Input -->
    <div class="mb-4">
      <label for="email">Your e-mail address</label>
      <input
        type="email"
        id="email"
        name="email"
        formControlName="senderEmail"
        class="form-control"
        placeholder="e.mail@example.com"
      />
      <div *ngIf="contactForm.get('senderEmail')?.invalid && (contactForm.get('senderEmail')?.dirty || contactForm.get('senderEmail')?.touched)">
        <small class="text-danger" *ngIf="contactForm.get('senderEmail')?.hasError('required')">This field is required</small>
        <small class="text-danger" *ngIf="contactForm.get('senderEmail')?.hasError('email')">Please enter a valid email</small>
        <small class="text-danger" *ngIf="contactForm.get('senderEmail')?.hasError('invalidEmailDomain')">Your email still doesn't look valid</small>
        <small class="text-danger" *ngIf="contactForm.get('senderEmail')?.hasError('notAllowedDomain')">This host is not allowed!</small>
      </div >
    </div>

    <!-- Message Text Area -->
    <div class="mb-4">
      <label for="message">Message</label>
      <textarea
        id="message"
        name="message"
        formControlName="senderMessage"
        class="form-control"
        placeholder="Write your message"
        rows="5"
      ></textarea>
      <div *ngIf="contactForm.get('senderMessage')?.invalid && (contactForm.get('senderMessage')?.dirty || contactForm.get('senderMessage')?.touched)">
        <small class="text-danger" *ngIf="contactForm.get('senderMessage')?.hasError('required')">This field is required</small>
        <small class="text-danger" *ngIf="contactForm.get('senderMessage')?.hasError('minlength')">Your message is too short</small>
        <small class="text-danger" *ngIf="contactForm.get('senderMessage')?.hasError('maxlength')">Your message is too long</small>
        <div class="text-muted">
          Characters entered: {{ contactForm.get('senderMessage')?.value?.length || 0 }}
        </div>
      </div >
    </div>

    <!-- Submit Button -->
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!contactForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
